body {
  background-color: #fff;
  margin: 0;
}

.input {
  box-sizing: border-box;
  background: #FEBDBD;

  padding-left: 50px;
  padding-top: 80px;
  padding-bottom: 80px;

}

.solution {
  background-color: #fff;
  margin: 80px;
  padding: 30px;
  border-top: 2px solid LightGrey;
  color: #504633;
  font-family: Arial;
  font-size: 44px;
  text-align: center;
}

#input {
  display: inline-block;
  height: 100px;
  width: 85%;
  border: 0px;
  border-radius: 5px;
  color: #4C4C4C;
  font-size: 44px;
  text-indent: 18px;
  outline: none;
}

#button {
  display: inline-block;
  position: relative;
  left: 10px;
  bottom: 22px;
  height: 100px;
  width: 180px;
  border: 0px;
  border-radius: 5px;
  color: #95F3ED;
  background-color: #4C4C4C;
  font-family: Arial;
  font-size: 30px;
  outline: none;
}

#button:hover {
  background-color: #4C4C4C;
  opacity: 0.8;
}

#manual {
  margin: 0;
  color: #4C4C4C;
  font-family: Arial;
  font-size: 20px;
  text-indent: 18px;
}
